---
BasedOnStyle: Microsoft
AlwaysBreakTemplateDeclarations: 'Yes'
IndentWidth: '4'
Language: Cpp
PointerAlignment: Left
SortIncludes: 'true'
SortUsingDeclarations: 'true'
SpacesInAngles: 'false'
UseTab: Never

...
